<!-- This file is created for backup for index.html file... -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>
        Welcome to the text analyzer.Enter your text below
    </h1>
    <form action ="/analyze" method="'get">   <!--  important then revise  -->
        <textarea name="text" style="width: 698px; height: 204px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc"> Remove Punctuations
        <br>
        <input type="checkbox" name="fullcaps"> UPPERCASE
        <br>
        <input type="checkbox" name="fullsmall">LOWERCASE 
        <br>
        <input type="checkbox" name="newlineremover">New Line Remover 
        <br>
        <input type="checkbox" name="extraspaceremover">Remove Extra Space
        <br>
        <input type="checkbox" name="charcount">Character Count
        <br><br>
        <button type="submit">Analyze Text</button></br>
       
    </form>
</body>
</html>